.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .home-section {
    margin-top: 5rem;
  }

  .card-text {
    height: 20vh;
  }
}

.card-img-top {
  height: 35vh;
  object-fit: cover;
}

.card-text {
  height: 20vh;
  overflow-y: auto;
}

.card-title{
  height: 7vh;
}

.project-text-size{
  font-size: 0.9rem;
}

.about-text-size{
  font-size: 1.1rem;
}

.timeline-text-size{
  font-weight: 400 !important;
}

.section {
  scroll-margin-top: 80px;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25), 0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}

.vertical-timeline-element-subtitle{
  color: grey !important;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;

  }
}

.tech-pill-container {
  margin-top: 10px; 
  display: flex;
  flex-wrap: wrap;
}

.tech-pill {
  background-color: #ADD8E6;
  color: black; /* Text color */
  padding: 5px 10px;
  margin: 5px; 
  border-radius: 20px; 
  font-size: 0.85em; 
  display: inline-block;
}

.date {
  color: black;
  opacity: 1 !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a:link, a:visited, a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.btn-custom{
  background-color: black !important;
  color:white !important;
}

.custom-btn:hover {
  background-color: #ADD8E6 !important;
  color:black !important;
}
